body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto;
    text-align: center;
    font-size: 150%;
    background-image: url('snake.jpg');
    background-color: beige;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    font-size: 100%;
    text-align: center;
    padding: 5px 7px;

}
canvas{
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 5px 5px 8px black;

}